* {
    box-sizing:border-box;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    background-color: #c3e4fb;;
    border-radius: 0.2cm;
    opacity: 1;
}
.mySlide {
    display: none;
    opacity: 1;
}
.mySlides {
display: none;
text-align: center;
opacity: 1;
}
.tabella {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 1;
}
.progress {
    margin-top: 1cm;
    margin-left: 2cm;
    margin-right: 2cm;
    opacity: 1;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    opacity: 1;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    opacity: 1;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    opacity: 1;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.center {
    display:inline-block;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}


input, select{
    border-radius: 0.25cm;
    background-color:#ffffff;
    border:thin;
}
.form-inline {
    text-align: right;
    margin-right: auto;
}
.aldest {
    margin-left: auto; 
    margin-right: 0;
}
.centrato {
    margin-left: 5cm;
}